<!-- Header Section -->
<div class="header pb-6 d-flex align-items-center"
  style="min-height: 120px;background-size: cover;background-position: center top; background-color:#931623 !important;">
  <span class="mask "></span>
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
    </div>
  </div>
</div>

<!-- Tabs Section -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-auto">
              <h3 class="mb-0">Company Details</h3>
            </div>
            <div class="col ml--2 custom-flex-end-center">
              <button type="button" class="btn btn-sm btn-neutral" [routerLink]="['/companies/addmembers/', id]"
                tooltip="Add member"><i class="fas fa-user-plus"></i></button>
              <button type="button" class="btn btn-sm btn-neutral" tooltip="Edit"
                [routerLink]="['/companies/company/updatecompany/', id]"><i class="fas fa-edit"></i></button>
              <button type="button" class=" btn btn-sm btn-neutral" tooltip="Delete"
                [routerLink]="['/companies/company/deletecompany/', id]"><i class="fas fa-trash-alt"></i></button>
              <button type="button" class="btn btn-sm btn-neutral" tooltip="Upload"
                [routerLink]="['/assets/documents/import']" [queryParams]="{ company_id: id }"><i
                  class="fas fa-upload"></i>
              </button>


            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="py-4">

                <div *ngIf="companyDetails">
                  <div class="container-fluid mt--12">
                    <div class="row">
                      <div class="col-xl-12 order-xl-1">
                        <div class="row">
                          <div class="col-lg-8">
                            <div class="card card-profile" style="width:100%; height: 100%; ">
                              <div class="row justify-content-center">
                                <div class="col-lg-3 order-lg-2">

                                  <div class="card-profile-image">
                                    <a href="javascript:void(0)">
                                      <img [src]="companyDetails.company.compan_logo" class="rounded-circle"
                                        style="top: 17px; max-width: 80px;"></a>
                                  </div>
                                </div>
                              </div>
                              <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                                <div class="d-flex justify-content-between">
                                </div>
                              </div>
                              <div class="card-body pt-0">
                                <div class="user-profile text-center p-4">
                                  <h3 class="font-weight-bold mb-3"> {{ companyDetails.company.company_name }} </h3>

                                  <div class="row p-4">
                                    <div class="col-md-6 mb-4">
                                      <h5 class="text-muted font-weight-normal mb-3">Description</h5>
                                      <div class="text-dark font-weight-light mb-2"><i
                                          class="ni business_briefcase-24 mr-2">
                                        </i><span class="font-weight-bold"></span> {{
                                        companyDetails.company.company_description }}</div>
                                    </div>
                                    <div class="col-md-6">
                                      <h5 class="text-muted font-weight-normal mb-3">Contact Information</h5>
                                      <div class="text-dark font-weight-light mb-2"><i
                                          class="ni business_briefcase-24 mr-2">
                                        </i><span class="font-weight-bold"><i class=" fas fa-envelope"> : </i></span> {{
                                        companyDetails.company.company_email }} </div>
                                      <div class="text-dark font-weight-light">
                                        <i class="ni phone mr-2"></i>
                                        <span class="font-weight-bold"><i class=" fas fa-phone"> : </i></span> {{
                                        companyDetails.company.company_phone_no }}
                                      </div>
                                      <div class="text-dark font-weight-light">
                                        <i class="ni phone mr-2"></i>
                                        <span class="font-weight-bold"><i class="fas fa-location-arrow"> : </i></span>
                                        {{ companyDetails.company.company_address }}, {{
                                        companyDetails.company.company_city }}, {{
                                        companyDetails.company.company_country }}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 d-flex flex-column">
                            <div class="card">
                              <div class="card-header">
                                <h5 class="h3 mb-0">Charging History</h5>
                              </div>

                              <div class="card-body p-0">
                                <ul class="list-group list-group-flush" data-toggle="checklist">
                                  <!-- Loop through the charging history data -->
                                  <li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
                                    *ngFor="let history of chargingHistory | slice:0:5">
                                    <div class="checklist-item checklist-item-success">
                                      <div class="checklist-info">
                                        <h5 class="checklist-title mb-0">{{ history.total_energy }} kWh, Station: {{
                                             history.Charger.charger_name }}</h5>
                                        <small>{{ history.charging_history_date }} {{ history.started_time }} - {{
                                          history.ended_time }}</small>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="card">


                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div *ngIf="!companyDetails">
                  <p>No Company details available.</p>
                </div>
              </div>
            </div>

          </div>



          <tabset #companyTabs>
            <!-- </tab> -->
            <tab heading="Members">
              <div class="dataTables_wrapper py-4">
                <div class="row">
                  <div class="col-auto">
                    <div class="dataTables_length" id="datatable_length">
                      <label>
                        <span *ngIf="!isSmallScreen">Show</span>
                        <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                          (change)="entriesChange($event)">
                          <option value="10" [selected]="entries == 10">10</option>
                          <option value="25" [selected]="entries == 25">25</option>
                          <option value="50" [selected]="entries == 50">50</option>
                          <option value="-1" [selected]="entries == -1">All</option>
                        </select>
                        <span *ngIf="!isSmallScreen">entries</span>
                      </label>
                    </div>
                  </div>
                  <div class="col ml--2 ">
                    <!-- Search Input -->
                    <div id="datatable_filter" class="dataTables_filter">
                      <label>
                        <input *ngIf="!isSmallScreen || isInputVisible" type="search"
                          class="form-control form-control-sm" placeholder="Search records" aria-controls="datatable"
                          (input)="filterMemberTable($event)" />
                        <i *ngIf="isSmallScreen && !isInputVisible" class="fas fa-search"
                          (click)="toggleSearchInput()"></i>
                      </label>
                    </div>
                  </div>
                </div>
                <ngx-datatable id="print-section" class="bootstrap selection-cell" [scrollbarH]="isSmallScreen" [columnMode]="isSmallScreen ? 'standard' : 'force'"
                  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                  [limit]="entries != -1 ? entries : undefined" [rows]="tempCompanyMembers" [selected]="selected"
                  [selectionType]="'multiClick'" (activate)="onActivate($event)" (select)="onSelect($event)">
                  <ngx-datatable-column name="User Name" prop="user.name"></ngx-datatable-column>
                  <ngx-datatable-column name="Type" prop="type"></ngx-datatable-column>
                  <ngx-datatable-column name="Actions" prop="actions">
                    <ng-template ngx-datatable-cell-template let-row="row">
                      <button type="button" class="btn btn-sm btn-neutral" tooltip="Edit"
                        [routerLink]="['/companies/updatemember', row.user_id]">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-neutral" tooltip="Delete"
                        [routerLink]="['/users/user/delete/company', row.user_id]">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </tab>


            <tab heading="RFID Card">
              <div class="dataTables_wrapper py-4">
                <div class="row">
                  <div class="col-auto">
                    <div class="dataTables_length" id="datatable_length">
                      <label>
                        <span *ngIf="!isSmallScreen">Show</span>
                        <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                          (change)="entriesChange($event)">
                          <option value="10" [selected]="entries == 10">10</option>
                          <option value="25" [selected]="entries == 25">25</option>
                          <option value="50" [selected]="entries == 50">50</option>
                          <option value="-1" [selected]="entries == -1">All</option>
                        </select>
                        <span *ngIf="!isSmallScreen">entries</span>
                      </label>
                    </div>
                  </div>
                  <div class="col ml--2 ">
                    <!-- Search Input -->
                    <div id="datatable_filter" class="dataTables_filter">
                      <label>
                        <input *ngIf="!isSmallScreen || isInputVisible" type="search"
                          class="form-control form-control-sm" placeholder="Search records" aria-controls="datatable"
                          (input)="filterRFIDCardTable($event)" />
                        <i *ngIf="isSmallScreen && !isInputVisible" class="fas fa-search"
                          (click)="toggleSearchInput()"></i>
                      </label>
                    </div>
                  </div>
                </div>
                <ngx-datatable id="print-section" class="bootstrap selection-cell" [scrollbarH]="isSmallScreen" [columnMode]="isSmallScreen ? 'standard' : 'force'"
                  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                  [limit]="entries != -1 ? entries : undefined" [rows]="tempRfidCards" [selected]="selected"
                  [selectionType]="'multiClick'" (activate)="onActivate($event)" (select)="onSelect($event)">
                  <ngx-datatable-column name="Serial No" prop="serial_no"></ngx-datatable-column>
                  <ngx-datatable-column name="Block No" prop="block_no"></ngx-datatable-column>
                  <ngx-datatable-column name="Balance" prop="balance"></ngx-datatable-column>
                  <ngx-datatable-column name="Status" prop="status"></ngx-datatable-column>
                </ngx-datatable>

              </div>
            </tab>

            <tab heading="User Groups">
              <div class="dataTables_wrapper py-4">
                <div class="row">
                  <div class="col-auto">
                    <div class="dataTables_length" id="datatable_length">
                      <label>
                        <span *ngIf="!isSmallScreen">Show</span>
                        <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                          (change)="entriesChange($event)">
                          <option value="10" [selected]="entries == 10">10</option>
                          <option value="25" [selected]="entries == 25">25</option>
                          <option value="50" [selected]="entries == 50">50</option>
                          <option value="-1" [selected]="entries == -1">All</option>
                        </select>
                        <span *ngIf="!isSmallScreen">entries</span>
                      </label>
                    </div>
                  </div>
                  <div class="col ml--2 ">
                    <!-- Search Input -->
                    <div id="datatable_filter" class="dataTables_filter">

                      <label>
                        <input *ngIf="!isSmallScreen || isInputVisible" type="search"
                          class="form-control form-control-sm" placeholder="Search records" aria-controls="datatable"
                          (input)="filterUserGroupTable($event)" />
                        <i *ngIf="isSmallScreen && !isInputVisible" class="fas fa-search"
                          (click)="toggleSearchInput()"></i>
                      </label>
                    </div>
                  </div>
                </div>
                <ngx-datatable id="print-section" class="bootstrap selection-cell" [scrollbarH]="isSmallScreen" [columnMode]="isSmallScreen ? 'standard' : 'force'"
                  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                  [limit]="entries != -1 ? entries : undefined" [rows]="tempUserGroups" [selected]="selected"
                  [selectionType]="'multiClick'" (activate)="onActivate($event)" (select)="onSelect($event)">
                  <ngx-datatable-column name="Name" prop="usergr_name"></ngx-datatable-column>
                  <ngx-datatable-column name="Address"
                    prop="usergr_addres"></ngx-datatable-column>
                  <ngx-datatable-column name="City" prop="usergr_city"></ngx-datatable-column>
                  <ngx-datatable-column name="Phone Number"
                    prop="usergr_phone_no"></ngx-datatable-column>
                  <ngx-datatable-column name="Email" prop="usergr_email"></ngx-datatable-column>
                </ngx-datatable>
              </div>
            </tab>

            <tab heading="Partners">
              <div class="dataTables_wrapper py-4">
                <div class="row">
                  <div class="col-auto">
                    <div class="dataTables_length" id="datatable_length">
                      <label>
                        <span *ngIf="!isSmallScreen">Show</span>
                        <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                          (change)="entriesChange($event)">
                          <option value="10" [selected]="entries == 10">10</option>
                          <option value="25" [selected]="entries == 25">25</option>
                          <option value="50" [selected]="entries == 50">50</option>
                          <option value="-1" [selected]="entries == -1">All</option>
                        </select>
                        <span *ngIf="!isSmallScreen">entries</span>
                      </label>
                    </div>
                  </div>
                  <div class="col ml--2 ">
                    <!-- Search Input -->
                    <div id="datatable_filter" class="dataTables_filter">
                      <label>
                        <input *ngIf="!isSmallScreen || isInputVisible" type="search"
                          class="form-control form-control-sm" placeholder="Search records" aria-controls="datatable"
                          (input)="filterPartnerTable($event)" />
                        <i *ngIf="isSmallScreen && !isInputVisible" class="fas fa-search"
                          (click)="toggleSearchInput()"></i>
                      </label>
                    </div>
                  </div>
                </div>
                <ngx-datatable id="print-section" class="bootstrap selection-cell" [scrollbarH]="isSmallScreen" [columnMode]="isSmallScreen ? 'standard' : 'force'"
                  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                  [limit]="entries != -1 ? entries : undefined" [rows]="tempPartners" [selected]="selected"
                  [selectionType]="'multiClick'" (activate)="onActivate($event)" (select)="onSelect($event)">
                  <ngx-datatable-column name="Partner Name" prop="partner_name"></ngx-datatable-column>
                  <ngx-datatable-column name="Address" prop="address"></ngx-datatable-column>
                  <ngx-datatable-column name="City" prop="city"></ngx-datatable-column>
                  <ngx-datatable-column name="Phone Number"
                    prop="phoneNumber"></ngx-datatable-column>
                  <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
                </ngx-datatable>
              </div>
            </tab>

            <tab heading="Chargers">
              <div class="dataTables_wrapper py-4">
                <div class="row">
                  <div class="col-auto">
                    <div class="dataTables_length" id="datatable_length">
                      <label>
                        <span *ngIf="!isSmallScreen">Show</span>
                        <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                          (change)="entriesChange($event)">
                          <option value="10" [selected]="entries == 10">10</option>
                          <option value="25" [selected]="entries == 25">25</option>
                          <option value="50" [selected]="entries == 50">50</option>
                          <option value="-1" [selected]="entries == -1">All</option>
                        </select>
                        <span *ngIf="!isSmallScreen">entries</span>
                      </label>
                    </div>
                  </div>
                  <div class="col ml--2 ">
                    <!-- Search Input -->
                    <div id="datatable_filter" class="dataTables_filter">
                      <label>
                        <input *ngIf="!isSmallScreen || isInputVisible" type="search"
                          class="form-control form-control-sm" placeholder="Search records" aria-controls="datatable"
                          (input)="filterChargersTable($event)" />
                        <i *ngIf="isSmallScreen && !isInputVisible" class="fas fa-search"
                          (click)="toggleSearchInput()"></i>
                      </label>
                    </div>
                  </div>
                </div>
                <ngx-datatable id="print-section" class="bootstrap selection-cell" [scrollbarH]="isSmallScreen" [columnMode]="isSmallScreen ? 'standard' : 'force'"
                  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                  [limit]="entries != -1 ? entries : undefined" [rows]="tempChargers" [selected]="selected"
                  [selectionType]="'multiClick'" (activate)="onActivate($event)" (select)="onSelect($event)">
                  <ngx-datatable-column name="Charger Name" prop="charger_name"></ngx-datatable-column>
                  <ngx-datatable-column name="Type" prop="type"></ngx-datatable-column>
                  <ngx-datatable-column name="Rated Power"
                    prop="rate_power"></ngx-datatable-column>
                  <ngx-datatable-column name="Status" prop="status"></ngx-datatable-column>
                </ngx-datatable>
              </div>
            </tab>

            <tab heading="Vehicles">
              <div class="dataTables_wrapper py-4">
                <div class="row">
                  <div class="col-auto">
                    <div class="dataTables_length" id="datatable_length">
                      <label>
                        <span *ngIf="!isSmallScreen">Show</span>
                        <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                          (change)="entriesChange($event)">
                          <option value="10" [selected]="entries == 10">10</option>
                          <option value="25" [selected]="entries == 25">25</option>
                          <option value="50" [selected]="entries == 50">50</option>
                          <option value="-1" [selected]="entries == -1">All</option>
                        </select>
                        <span *ngIf="!isSmallScreen">entries</span>
                      </label>
                    </div>
                  </div>
                  <div class="col ml--2 ">
                    <!-- Search Input -->
                    <div id="datatable_filter" class="dataTables_filter">
                      <label>
                        <input *ngIf="!isSmallScreen || isInputVisible" type="search"
                          class="form-control form-control-sm" placeholder="Search records" aria-controls="datatable"
                          (input)="filterVehiclesTable($event)" />
                        <i *ngIf="isSmallScreen && !isInputVisible" class="fas fa-search"
                          (click)="toggleSearchInput()"></i>
                      </label>
                    </div>
                  </div>
                </div>
                <ngx-datatable id="print-section" class="bootstrap selection-cell" [scrollbarH]="isSmallScreen" [columnMode]="isSmallScreen ? 'standard' : 'force'"
                  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                  [limit]="entries != -1 ? entries : undefined" [rows]="tempVehicles" [selected]="selected"
                  [selectionType]="'multiClick'" (activate)="onActivate($event)" (select)="onSelect($event)">
                  <ngx-datatable-column name="Vehicle Name" prop="vehicle_brand"></ngx-datatable-column>
                  <ngx-datatable-column name="Year" prop="vehicle_year"></ngx-datatable-column>
                  <ngx-datatable-column name="Model" prop="vehicle_model"></ngx-datatable-column>
                  <ngx-datatable-column name="License Plate" prop="vehicle_number"></ngx-datatable-column>
                </ngx-datatable>
              </div>
            </tab>
            <tab heading="Reports">
              <div class="dataTables_wrapper py-4">
                <div class="row">
                  <div class="col-auto">
                    <div class="dataTables_length" id="datatable_length">
                      <label>
                        <span *ngIf="!isSmallScreen">Show</span>
                        <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                          (change)="entriesChange($event)">
                          <option value="10" [selected]="entries == 10">10</option>
                          <option value="25" [selected]="entries == 25">25</option>
                          <option value="50" [selected]="entries == 50">50</option>
                          <option value="-1" [selected]="entries == -1">All</option>
                        </select>
                        <span *ngIf="!isSmallScreen">entries</span>
                      </label>
                    </div>
                  </div>
                  <div class="col ml--2 ">
                    <!-- Search Input -->
                    <div id="datatable_filter" class="dataTables_filter">
                      <label>
                        <input *ngIf="!isSmallScreen || isInputVisible" type="search"
                          class="form-control form-control-sm" placeholder="Search records" aria-controls="datatable"
                          (input)="filterReportsTable($event)" />
                        <i *ngIf="isSmallScreen && !isInputVisible" class="fas fa-search"
                          (click)="toggleSearchInput()"></i>
                      </label>
                    </div>
                  </div>
                </div>
                <ngx-datatable id="print-section" class="bootstrap selection-cell" [scrollbarH]="isSmallScreen" [columnMode]="isSmallScreen ? 'standard' : 'force'"
                  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                  [limit]="entries != -1 ? entries : undefined" [rows]="tempReports" [selected]="selected"
                  [selectionType]="'multiClick'" (activate)="onActivate($event)" (select)="onSelect($event)">
                  <ngx-datatable-column name="From Date" prop="from_date"></ngx-datatable-column>
                  <ngx-datatable-column name="To Date" prop="to_date"></ngx-datatable-column>
                  <ngx-datatable-column name="Total Cost"
                    prop="total_cost"></ngx-datatable-column>
                  <ngx-datatable-column name="Total Current"
                    prop="total_current"></ngx-datatable-column>
                </ngx-datatable>
              </div>
            </tab>

            <tab heading="Documents">
              <div class="dataTables_wrapper py-4">
                <div class="row">
                  <div class="col-auto">
                    <div class="dataTables_length" id="datatable_length">
                      <label>
                        <span *ngIf="!isSmallScreen">Show</span>
                        <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                          (change)="entriesChange($event)">
                          <option value="10" [selected]="entries == 10">10</option>
                          <option value="25" [selected]="entries == 25">25</option>
                          <option value="50" [selected]="entries == 50">50</option>
                          <option value="-1" [selected]="entries == -1">All</option>
                        </select>
                        <span *ngIf="!isSmallScreen">entries</span>
                      </label>
                    </div>
                  </div>
                  <div class="col ml--2  custom-flex-end-center">
                    <div id="datatable_filter" class="dataTables_filter">
                      <label>
                        <input *ngIf="!isSmallScreen || isInputVisible" type="search"
                          class="form-control form-control-sm" placeholder="Search records" aria-controls="datatable"
                          (input)="filterDocumentsTable($event)" />
                        <i *ngIf="isSmallScreen && !isInputVisible" class="fas fa-search"
                          (click)="toggleSearchInput()"></i>
                      </label>
                    </div>
                  </div>
                </div>
                <ngx-datatable id="print-section" class="bootstrap selection-cell" [scrollbarH]="isSmallScreen" [columnMode]="isSmallScreen ? 'standard' : 'force'"
                  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                  [limit]="entries != -1 ? entries : undefined" [rows]="tempDocuments" [selected]="selected"
                  [selectionType]="'multiClick'" (activate)="onActivateDoc($event)" (select)="onSelect($event)">
                  <ngx-datatable-column name="Name" prop="file_name"></ngx-datatable-column>
                  <ngx-datatable-column name="Date" prop="uploaded_date"></ngx-datatable-column>
                  <ngx-datatable-column name="Added By" prop="madeBy"></ngx-datatable-column>
                  <ngx-datatable-column name="Actions" prop="actions">
                    <ng-template ngx-datatable-cell-template let-row="row">
                      <button type="button" class=" btn btn-sm btn-neutral" tooltip="Delete"
                        [routerLink]="['/assets/documents/delete/', row.document_id]">
                        <i class="fas fa-trash-alt"></i></button>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </tab>

          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>