<!-- Header Section -->
<div class="header pb-6 d-flex align-items-center"  style="min-height: 120px;background-size: cover;background-position: center top; background-color:#931623 !important;">
  <span class="mask "></span>
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
    </div>
  </div>
</div>


<!-- Tabs Section -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Vehicle Details</h3>
            </div>
            <div *ngIf="isRadXRole || isCompanyRole" class="col-4" style="display: flex; justify-content: flex-end; gap: 10px;">
              <button type="button" class="btn btn-sm btn-neutral" tooltip="Edit"
                [routerLink]="['/assets/vehicles/update/company',  vehicle.vehicle_id ]"><i
                  class="fas fa-edit"></i></button>
              <button type="button" class=" btn btn-sm btn-neutral" tooltip="Delete"
                [routerLink]="['/assets/vehicles/delete/company',  vehicle.vehicle_id ]"> <i
                  class="fas fa-trash-alt"></i></button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="container py-4">
            <div *ngIf="vehicle">
            <div class="card mb-3">
              <div class="card-body">
                <h4 class="card-title"><i class="fas fa-car text-primary"></i> Vehicle Brand:     <span class="font-weight-normal">{{  vehicle.vehicle_brand }}</span></h4>
                <div class="row mb-3">
                  <div class="col-md-3">
                    <i class="fa fa-car text-primary"></i> Model:      <span>{{ vehicle.vehicle_model }}</span>
                  </div>
                  <div class="col-md-3">
                    <i class="fa fa-hashtag text-primary"></i> Number:      <span>{{ vehicle.vehicle_number }}</span>
                  </div>
                  <div class="col-md-3">
                    <i class="fa fa-exchange-alt text-primary"></i> Vin:     <span>{{ vehicle.vin_code }}</span>
                  </div>
                  <div class="col-md-3">
                    <i class="fa fa-calendar-alt text-primary"></i> Year:     <span class="text-muted">{{ vehicle.vehicle_year }}</span>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div *ngIf="!vehicle">
              <p>No vehicle details available.</p>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>