<div class=" header pb-6" style="background-color: #931623 !important">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">

        <div class=" col-lg-6 col-5 text-right">
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class="card">
        <div class="dataTables_wrapper py-4">
          <div class="card-header">
            <h3 class="mb-0">Logs</h3>
            <table>
              <td>
                <p class="text-sm mb-0"> ✓
                  15 New logs this month
                </p>
              <td>
            </table>
          </div>


          <ngx-datatable id="print-section" class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined" [rows]="temp"
            [selected]="selected" [selectionType]="'multiClick'" (activate)="onActivate($event)"
            (select)="onSelect($event)">
            <ngx-datatable-column name="label"></ngx-datatable-column>
            <ngx-datatable-column name="description"></ngx-datatable-column>
            <ngx-datatable-column name="status"></ngx-datatable-column>
            <ngx-datatable-column name="microservice"></ngx-datatable-column>
            <ngx-datatable-column name="route"></ngx-datatable-column>
            <ngx-datatable-column name="date"></ngx-datatable-column>
            <ngx-datatable-column name="time"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>