<div class=" header pb-6" style="background-color: #931623 !important">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Update Company</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="companyLogo">Company Logo</label>
              <div class="col-md-10">
                <input type="file" class="form-control" id="companyLogo" (change)="onFileSelected($event)" />
                <small *ngIf="selectedFileName" class="text-muted">Selected file: {{ selectedFileName }}</small>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="company_name">Name</label>
              <div class="col-md-10">
                <input class="form-control" id="company_name" formControlName="company_name" required />
                <small *ngIf="companyForm.get('company_name')?.invalid && companyForm.get('company_name')?.touched"
                  class="text-danger">
                  Company name is required.
                </small>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="company_description">Description</label>
              <div class="col-md-10">
                <input class="form-control" id="company_description" formControlName="company_description" required />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="company_address">Address</label>
              <div class="col-md-10">
                <input class="form-control" id="company_address" formControlName="company_address" required />
                <small
                  *ngIf="companyForm.get('company_address')?.invalid && companyForm.get('company_address')?.touched"
                  class="text-danger">
                  Please enter a valid address.
                </small>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="company_city">City</label>
              <div class="col-md-10">
                <input class="form-control" id="company_city" formControlName="company_city" required />
                <small *ngIf="companyForm.get('company_city')?.invalid && companyForm.get('company_city')?.touched"
                  class="text-danger">
                  City is required.
                </small>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="company_country">Country</label>
              <div class="col-md-10">
                <input class="form-control" id="company_country" formControlName="company_country" required />
                <small
                  *ngIf="companyForm.get('company_country')?.invalid && companyForm.get('company_country')?.touched"
                  class="text-danger">
                  Country is required.
                </small>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="company_phone_no">Phone Number</label>
              <div class="col-md-10">
                <input class="form-control" id="company_phone_no" formControlName="company_phone_no" required />
                <small *ngIf="phoneNumberInvalid" class="text-danger">
                  Please enter a valid phone number.
                </small>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="company_email">Email</label>
              <div class="col-md-10">
                <input class="form-control" id="company_email" formControlName="company_email" required />
                <small *ngIf="companyForm.get('company_email')?.invalid && companyForm.get('company_email')?.touched"
                  class="text-danger">
                  Please enter a valid email.
                </small>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="form-group row">
              <div class="col-md-10 offset-md-2">
                <button class="btn btn-primary" type="submit">Update Company</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>