<div class=" header pb-6" style="background-color: #931623 !important">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h3 class="h2 text-white d-inline-block mb-0">Station Profile</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="station-profiles-container">
  <div class="station-profile" *ngFor="let charger of chargers">
    <h2>Station Profile</h2>
    <div class="station-card">
      <img src="assets/img/stations/car-charging-station.jpg" alt="Station Image" class="station-image">
      <div class="station-info">
        <div class="station-details">
          <div class="detail-item">
            <span class="detail-label">Address:</span>
            <span class="detail-value">{{charger.address || 'Address not available'}}</span>
          </div>
          <div class="detail-item">
            <span class="detail-label">Status:</span>
            <span class="detail-value">{{charger.real_time_status}}</span>
          </div>
          <div class="detail-item">
            <span class="detail-label">Charger Name:</span>
            <span class="detail-value">{{charger.charger_name}}</span>
          </div>
          <div class="detail-item">
            <span class="detail-label">Rated Power:</span>
            <span class="detail-value">{{charger.rated_power}}</span>
          </div>

        </div>
        <div class="station-icons">
          <button class="icon-button" (click)="handleAction1()">
            <img src="assets/img/icons/actionsStation/icon1.png" alt="Icon 1">
          </button>
          <button class="icon-button" (click)="handleAction2()">
            <img src="assets/img/icons/actionsStation/icon2.png" alt="Icon 2">
          </button>
          <button class="icon-button" (click)="handleAction3()">
            <img src="assets/img/icons/actionsStation/icon3.png" alt="Icon 3">
          </button>
          <button class="icon-button" (click)="handleAction4()">
            <img src="assets/img/icons/actionsStation/icon4.png" alt="Icon 4">
          </button>
          <button class="icon-button" (click)="handleAction5()">
            <img src="assets/img/icons/actionsStation/icon5.png" alt="Icon 5">
          </button>
          <button class="icon-button" (click)="handleAction6()">
            <img src="assets/img/icons/actionsStation/icon6.png" alt="Icon 6">
          </button>
          <button class="icon-button" (click)="handleAction7()">
            <img src="assets/img/icons/actionsStation/icon7.png" alt="Icon 7">
          </button>
        </div>
        <button class="btn btn-outline-primary" (click)="showMoreDetails()">More Details</button>
        <app-charger-station-list-popup [isPopupVisible]="isPopupVisible"
          (closePopup)="closePopup()"></app-charger-station-list-popup>
      </div>
    </div>
  </div>
</div>