<div class=" header pb-6" style="background-color: #931623 !important">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Update Rate Per Days</h3>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()" #rateperdayForm="ngForm">

                    

                        <!-- From Time -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label" for="from_time">From Time</label>
                            <div class="col-md-10">
                                <input type="time" class="form-control" id="from_time" [(ngModel)]="ratePerDays.from_time"
                                    name="from_time" required (blur)="rateperdayForm.controls.from_time.markAsTouched()" />
                                <small
                                    *ngIf="(rateperdayForm.controls.from_time.touched || rateperdayForm.submitted) && !rateperdayForm.controls.from_time?.valid"
                                    class="text-danger">
                                    From Time is required.
                                </small>
                            </div>
                        </div>
                        <!-- To Time -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label" for="to_time">To Time</label>
                            <div class="col-md-10">
                                <input type="time" class="form-control" id="to_time" [(ngModel)]="ratePerDays.to_time"
                                    name="to_time" required (blur)="rateperdayForm.controls.to_time.markAsTouched()" />
                                <small
                                    *ngIf="(rateperdayForm.controls.to_time.touched || rateperdayForm.submitted) && !rateperdayForm.controls.to_time?.valid"
                                    class="text-danger">
                                    To Time is required.
                                </small>
                            </div>
                        </div>



                        <!-- Price -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label" for="price">Price</label>
                            <div class="col-md-10">
                                <input type="number" class="form-control" id="price" [(ngModel)]="ratePerDays.price"
                                    name="price" required (blur)="rateperdayForm.controls.price.markAsTouched()" />
                                <small
                                    *ngIf="(rateperdayForm.controls.price.touched || rateperdayForm.submitted) && !rateperdayForm.controls.price?.valid"
                                    class="text-danger">
                                    Price is required.
                                </small>
                            </div>
                        </div>

                        <!-- Day Created -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label" for="dayCreated">Day
                                Created</label>
                            <div class="col-md-10">
                                <input type="date" class="form-control" id="dayCreated"
                                    [(ngModel)]="ratePerDays.dayCreated" name="dayCreated" [value]="currentDate"
                                    readonly />
                                <small
                                    *ngIf="(rateperdayForm.controls.dayCreated.touched || rateperdayForm.submitted) && !rateperdayForm.controls.dayCreated?.valid"
                                    class="text-danger">
                                    Day Created is required.
                                </small>
                            </div>
                        </div>
                        <!-- Rate Type -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label" for="rateType">Rate Type</label>
                            <div class="col-md-10">
                                <select class="form-control" id="rateType" [(ngModel)]="ratePerDays.rateType"
                                    name="rateType" required>
                                    <option value="" disabled selected>Select Rate Type</option>
                                    <option value="special">Special</option>
                                    <option value="default">Default</option>
                                </select>
                                <small
                                    *ngIf="(rateperdayForm.controls.rateType?.touched || rateperdayForm.submitted) && !rateperdayForm.controls.rateType?.valid"
                                    class="text-danger">
                                    Rate Type is required.
                                </small>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group row">
                            <div class="col-md-10 offset-md-2">
                                <button class="btn btn-primary" type="submit">Update
                                    Rate Per Days</button>
                            </div>
                        </div>
                    </form>
                    <div *ngIf="errorMessage" class="alert alert-danger mt-3"
                        style="background-color: #ffcccc; color: #660000;">{{ errorMessage }}</div>
                </div>
            </div>
        </div>
    </div>
</div>