
   <div class=" header pb-6" style="background-color: #931623 !important">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
        </div>
      </div>
    </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Import Documents</h3>
        </div>
        <div class="card-body">
          <div class="dropzone dropzone-multiple" id="dropzone-multiple">
            <div class="fallback">
              <div class="custom-file">
                <input
                  class="custom-file-input"
                  id="customFileUploadMultiple"
                  multiple="multiple"
                  type="file"
                />
                <label
                  class="custom-file-label"
                  for="customFileUploadMultiple"
                >
                  Choose file
                </label>
              </div>
            </div>

            <ul class="dz-preview dz-preview-multiple list-group list-group-lg list-group-flush">
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-12">
                    <div class="dz-preview  row col-12  dz-file-preview">
                      <div class="dz-image col-2"></div>
                      <div class="dz-details row col-10 align-items-cente">
                        <div class="dz-filename d-flex align-items-center col-8" style="gap: 10px;"><span data-dz-name ></span>
                          <span   class="dz-size" data-dz-size></span></div>
                        </div>
                    </div>
                  </div>
                </div>             
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
