<div class=" header pb-6" style="background-color: #931623 !important">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Create User</h3>
                </div>

                <div class="card-body">
                    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                        <!-- Name Input -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label" for="name">Name</label>
                            <div class="col-md-10">
                                <input class="form-control" id="name" [(ngModel)]="user.name" name="name" required />
                                <small
                                    *ngIf="userForm.controls.name?.invalid && (userForm.controls.name?.touched || userForm.controls.name?.dirty)"
                                    class="text-danger">
                                    Name is required.
                                </small>
                            </div>
                        </div>

                        <!-- Username Input -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label" for="username">Username</label>
                            <div class="col-md-10">
                                <input class="form-control" id="username" [(ngModel)]="user.username" name="username"
                                    required />
                                <small
                                    *ngIf="userForm.controls.username?.invalid && (userForm.controls.username?.touched || userForm.controls.username?.dirty)"
                                    class="text-danger">
                                    Username is required.
                                </small>
                            </div>
                        </div>

                        <!-- Email Input -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label" for="email">Email</label>
                            <div class="col-md-10">
                                <input class="form-control" id="email" type="email" [(ngModel)]="user.email"
                                    name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
                                <small
                                    *ngIf="userForm.controls.email?.invalid && (userForm.controls.email?.touched || userForm.controls.email?.dirty)"
                                    class="text-danger">
                                    Please enter a valid email address.
                                </small>
                            </div>
                        </div>

                        <!-- Phone Number Input -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label" for="phone_number">Phone
                                Number</label>
                            <div class="col-md-3">
                                <select class="form-control" (change)="onCountryChange($event)">
                                    <option *ngFor="let country of countries" [value]="country.prefix">
                                        {{ country.name }} ({{ country.prefix }})
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-7">
                                <input class="form-control" id="phone_number" type="tel" formControlName="phone_number"
                                    required (input)="formatPhoneNumber()" />
                            </div>
                        </div>


                        <!-- Password Input -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label" for="password">Password</label>
                            <div class="col-md-10">
                                <input class="form-control" id="password" type="password" [(ngModel)]="user.password"
                                    name="password" required />
                                <small
                                    *ngIf="userForm.controls.password?.invalid && (userForm.controls.password?.touched || userForm.controls.password?.dirty)"
                                    class="text-danger">
                                    Password is required.
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label" for="password">Company</label>
                            <div class="col-md-10">
                                <select class="form-control" [(ngModel)]="user.company" name="company"
                                    #companyInput="ngModel" required>
                                    <option value="">Select Company</option>
                                    <option *ngFor="let company of companies" [value]="company.company_id">
                                        {{ company.company_name }}
                                    </option>
                                </select>

                                <small
                                    *ngIf="userForm.controls.company?.invalid && (userForm.controls.company?.touched || userForm.controls.company?.dirty)"
                                    class="text-danger">
                                    Company is required.
                                </small>
                            </div>
                        </div>
                        <!-- Role Select -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label" for="role">Role</label>
                            <div class="col-md-10">
                                <select class="form-control" id="role" [(ngModel)]="user.role" name="role" required>
                                    <option value="" disabled>Select a role</option>
                                    <option value="RadX_Admin">Admin</option>
                                    <option value="RADX_MODERATOR">Moderator</option>
                                    <option value="SUPER_USER">Super User</option>
                                    <!-- Add more roles as needed -->
                                </select>
                                <small
                                    *ngIf="userForm.controls.role?.invalid && (userForm.controls.role?.touched || userForm.controls.role?.dirty)"
                                    class="text-danger">
                                    Role is required.
                                </small>
                            </div>
                        </div>

                        <!-- Pay As You Go Checkbox -->
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label">Allow Pay As You Go</label>
                            <div class="col-md-10">
                                <input type="checkbox" id="allowPayAsYouGo" [(ngModel)]="user.allowPayAsYouGo"
                                    name="allowPayAsYouGo" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label" for="send_invoice_by_email">Send
                                Invoice By
                                Mail</label>
                            <div class="col-md-10">
                                <input type="checkbox" id="send_invoice_by_email" name="send_invoice_by_email"
                                    [(ngModel)]="user.send_invoice_by_email" />
                            </div>
                        </div>
                        <!-- Submit Button -->
                        <div class="form-group row">
                            <div class="col-md-10 offset-md-2">
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="userForm.invalid">Create</button>
                            </div>
                        </div>
                    </form>
                    <div *ngIf="errorMessage" class="alert alert-danger mt-3"
                        style="background-color: #ffcccc; color: #660000;">{{ errorMessage }}</div>
                </div>
            </div>
        </div>
    </div>
</div>