.charging-container {
  width: 300px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  .charging-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    h1 {
      font-size: 1em;
      color: #931623;
      text-align: center;
    }
  }

  .charging-status-circle {
    position: relative;
    background: #931623;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; // Adjusted margin to separate from charging-time

    .charging-animation {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center; // Centers the charging-battery inside the charging-animation

      .charging-battery {
          position: relative;
          z-index: 1; // Ensures battery icon is below the flash icon

          img.battery {
            max-width: 70%; // Adjust as needed
            margin: 0 2px; // Space between icons
          }
        }

        .charging-flash {
          position: absolute;
          top: 50%;
          left: 47%;
          transform: translate(-50%, -50%);
          z-index: 2; // Ensures flash icon is above the battery icon
          width: 20%; // Adjust as needed
          height: 20%; // Adjust as needed
          animation: flash 1s infinite; // Apply flashing animation
        }

        .charging-progress {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 6px solid rgba(255, 255, 255, 0.3);
          border-top: 6px solid #fff;
          animation: spin 2s linear infinite;
        }
      }
    }



  .charging-time {
    width: 100%;
    text-align: center;
    color: #931623;
    margin-bottom: 5px; // Ensures spacing before charging-details

    p {
      font-size: 0.8em;
    }

    h2 {
      font-size: 1.2em;
      margin: 0;
    }
  }

  .charging-details {
    text-align: center;
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: auto; // Ensures that charging-details stays at the bottom
  }

  .charging-details p {
    margin: 5px 0;
    color: #3d3d3d;
    font-size: 0.8em;
  }

  .charging-details h3 {
    color: #931623;
    margin-top: 5px;
    font-size: 1.2em;
  }

  .stop-button {
    margin-top: 10px;
    width: 100%;
    background-color: #931623;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;

    &:hover {
      background-color: #004e61;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.charging-container-wrapper {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to new lines */
}

.charging-container {
  max-width: 25%; /* Ensures that items do not grow too large */
  min-width: 200px; /* Minimum width for each container */
  margin: 10px; /* Space between containers */
  box-sizing: border-box; /* Ensures padding and border are included in width */
  border: 1px solid rgb(190 183 183 / 30%);
}