<div class=" header pb-6" style="background-color: #931623 !important">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Create Tax</h3>
        </div>
        <div class="card-body">
          <form #taxForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

            <div class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="taxName">Tax Name</label>
              <div class="col-md-10">
                <input class="form-control" id="taxName" [(ngModel)]="tax.taxName" name="taxName" required />
                <small
                  *ngIf="taxForm.controls.taxName?.invalid && (taxForm.controls.taxName?.touched || taxForm.submitted)"
                  class="text-danger">
                  Tax Name is required.
                </small>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="percentage">Percentage</label>
              <div class="col-md-10">
                <input class="form-control" id="percentage" type="number" [(ngModel)]="tax.percentage" name="percentage"
                  required />
                <small
                  *ngIf="taxForm.controls.percentage?.invalid && (taxForm.controls.percentage?.touched || taxForm.submitted)"
                  class="text-danger">
                  Percentage is required.
                </small>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="companyId">Company</label>
              <div class="col-md-10">
                  <input type="text" class="form-control" id="companyId" [value]="company?.company_name"
                      [readonly]="true" />
              </div>
          </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="idNo">ID No</label>
              <div class="col-md-10">
                <input class="form-control" id="idNo" [(ngModel)]="tax.idNo" name="idNo" required />
                <small *ngIf="taxForm.controls.idNo?.invalid && (taxForm.controls.idNo?.touched || taxForm.submitted)"
                  class="text-danger">
                  ID No is required.
                </small>
              </div>
            </div>


            <!-- User Field -->
            <!-- <div *ngIf="tax.createFor === 'user'" class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="userId">User</label>
              <div class="col-md-10">
                <select class="form-control" id="userId" [(ngModel)]="tax.userId" name="userId"
                  [required]="tax.createFor === 'user'">
                  <option value="" >Select a user</option>
                  <option *ngFor="let user of users" [value]="user.id">
                    {{ user.name }}
                  </option>
                </select>
                <small
                  *ngIf="taxForm.controls.userId?.invalid && (taxForm.controls.userId?.touched || taxForm.submitted)"
                  class="text-danger">
                  User is required when creating for a user.
                </small>
              </div>
            </div> -->

            <!-- Partner Field -->
            <!-- <div *ngIf="tax.createFor === 'partner'" class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="partnerId">Partner</label>
              <div class="col-md-10">
                <select class="form-control" id="partnerId" [(ngModel)]="tax.partnerId" name="partnerId"
                  [required]="tax.createFor === 'partner'">
                  <option value="" >Select a partner</option>
                  <option *ngFor="let partner of partners" [value]="partner.partner_id">
                    {{ partner.partner_name }}
                  </option>
                </select>
                <small
                  *ngIf="taxForm.controls.partnerId?.invalid && (taxForm.controls.partnerId?.touched || taxForm.submitted)"
                  class="text-danger">
                  Partner is required when creating for a partner.
                </small>
              </div>
            </div> -->

            <!-- User Group Field -->
            <!-- <div *ngIf="tax.createFor === 'usergroup'" class="form-group row">
              <label class="col-md-2 col-form-label form-control-label" for="userGrId">User Group</label>
              <div class="col-md-10">
                <select class="form-control" id="userGrId" [(ngModel)]="tax.userGrId" name="userGrId"
                  [required]="tax.createFor === 'usergroup'">
                  <option value="" >Select a user group</option>
                  <option *ngFor="let userGroup of usergroups" [value]="userGroup.usergr_id">
                    {{ userGroup.usergr_name }}
                  </option>
                </select>
                <small
                  *ngIf="taxForm.controls.userGrId?.invalid && (taxForm.controls.userGrId?.touched || taxForm.submitted)"
                  class="text-danger">
                  User Group is required when creating for a user group.
                </small>
              </div>
            </div> -->

            <div class="form-group row">
              <div class="col-md-10 offset-md-2">
                <button class="btn btn-primary" type="submit">Create Tax</button>
              </div>
            </div>
          </form>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3"   style="background-color: #ffcccc; color: #660000;">{{ errorMessage }}</div>
        </div>
      </div>
    </div>
  </div>
</div>